.app-header
  display: flex
  align-items: stretch
  height: 60px
  background: #fff
  border-bottom: solid 1px #aaa
  .menu-button
    display: flex
    align-items: center
    justify-content: center
    flex: none
    width: 44px
    text-align: center
    cursor: pointer
    span
      flex: none
