$color-base: #444444
$color-sub: #898789
$color-background: #f4f4f4
$color-border: #ecedec
$color-white: #fff
$color-black: #000
$color-yellow: #e4ae0a

$font-size-base: 16px

$timing-basic: .1s ease-out

html
  color: $color-base
  font-size: $font-size-base

input
  font-size: $font-size-base

html,
body,
#manage-app,
.page-container
  width: 100%
  height: 100%
  overflow: hidden
  background: $color-background

.page-container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

.page
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  background: $color-background

.app-header
  z-index: 5

.launcher-background
  z-index: 10

.confirm-dialog-background
  z-index: 15
