.settings-page
  .page-content
    .setting-list
      margin: 100px auto

.setting-list
  width: 300px
  border-top: solid 1px #aaa

.setting-list-item
  display: inline-block
  width: 100%
  border-bottom: solid 1px #aaa
  padding: 12px 8px
  cursor: pointer
