.todo-category-list-item
  display: flex
  align-items: stretch
  width: 100%
  border-bottom: solid 1px $color-border
  .delete-button
    flex: none
    width: 44px
    cursor: pointer
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    transition: opacity $timing-basic
    span
      flex: none
  label,
  input
    flex: 1
    line-height: 1rem
    padding: 12px
    word-wrap: break-word
    background: transparent
    color: inherit
  label,
    cursor: pointer

  &:hover
    opacity: .7
    .delete-button
      opacity: 1
