.todo-category-list
  border: solid 1px $color-border
  background: $color-white
  box-shadow: 0 1px 1px 0 rgba($color-black, .1)
  h2
    font-size: 1rem
    text-align: center
    height: 3rem
    line-height: 3rem
  ul
    border-top: solid 1px $color-border
  .add-button
    width: 100%
    height: 2rem
    line-height: 2rem
    text-align: center
    cursor: pointer

  .todo-category-list-item
    display: flex
    align-items: stretch
    width: 100%
    border-bottom: solid 1px $color-border
    .delete-button
      flex: none
      width: 44px
      cursor: pointer
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      opacity: 0
      transition: opacity $timing-basic
      span
        flex: none
    label,
    input
      flex: 1
      line-height: 1rem
      padding: 12px
      word-wrap: break-word
      background: transparent
      color: inherit
    label,
      cursor: pointer
      .badge
        background: $color-yellow
        border-radius: 5px
        padding: 5px
        color: $color-white
        margin-right: 10px
        &:hover
          opacity: .7

    &:hover
      opacity: .7
      .delete-button
        opacity: 1
