.todo-category-list
  border: solid 1px $color-border
  background: $color-white
  h2
    font-size: 1rem
    text-align: center
    height: 3rem
    line-height: 3rem
  ul
    border-top: solid 1px $color-border
  .add-button
    width: 100%
    height: 2rem
    line-height: 2rem
    text-align: center
    cursor: pointer
