$color-base: #444444
$color-sub: #898789
$color-background: #f4f4f4
$color-border: #ecedec
$color-white: #fff
$color-light-gray: #fafafa
$color-gray: #666
$color-black: #000
$color-yellow: #e4ae0a

$font-size-base: 16px

$timing-basic: .1s ease-out


@import 'reset'

// transitions
@import 'transitions'

// components
// Ref: https://www.google.com/design/spec/components/
@import 'components/column'
@import 'components/list'

// custom components
@import 'components/manage-app'

@import 'components/todos-page'
@import 'components/menu-page'
@import 'components/todo-categories-page'
@import 'components/settings-page'

@import 'components/header'
@import 'components/launcher'

@import 'components/page-back-button'

@import 'components/todo-category-list'

// utils
@import 'utils/promise-confirm'

// styleguide
@import 'styleguide'
